@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&family=Ubuntu:wght@500&display=swap");

body {
  background-color: hsl(273, 75%, 66%);
  text-align: center;
  overflow: hidden;
}

/* elements */
h1 {
  font-size: 80px;
  margin-bottom: 40px;
}

h3 {
  color: #fff;
  font-family: "Ubuntu", sans-serif;
  position: absolute;
  top: 41rem;
  left: 17rem;
}

input {
  padding: 0 10px 0 30px;
  margin-right: 10px;
  width: 500px;
  height: 50px;
  border-radius: 1rem;
  border-style: none;
  margin-top: 0;
  outline: none;
}

li {
  list-style-type: none;
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  cursor: pointer;
  text-align: left;
  border-radius: 1.5rem;
  padding: 5px;
  padding-left: 10px;
}

i {
  position: absolute;
  right: 25px;
}

/* class names */

.container {
  position: relative;
  display: inline-block;
}

.li-background {
  background-image: radial-gradient(#af27e6, #c8c5c9);
}
/* id selector */
#clearButton {
  background-color: #000;
  color: #fff;
}

#clearButton,
#sendButton {
  margin-top: 2px;
  width: 70px;
  height: 50px;
  border-radius: 1rem;
  border-style: none;
}

#sendButton {
  background-color: #fff;
}
